/* Paleta #54BAB9 #18978F #E9DAC1 #F7ECDE */
* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none; }

body {
  background-color: #F7ECDE;
  width: 100%;
  min-height: 100vh; }

.pBold {
  font-weight: bold; }

.contenedorBody {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "header header header header header header" "gridMain gridMain gridMain gridMain gridMain gridMain " "footer footer footer footer footer footer"; }

.headerMain {
  background: #F7ECDE;
  background: linear-gradient(0deg, #F7ECDE 10%, #54BAB9 50%, #18978F 100%);
  padding: 20px 20px 35px 20px;
  grid-area: header; }

.logoHeader {
  border-radius: 50%;
  border: 1px solid #000;
  height: 120px; }

.nav-link {
  color: #fff !important; }
  .nav-link .nav-link:hover {
    color: #18978F !important; }

main {
  margin: 0px;
  width: 96%;
  margin: 0px auto; }

.gridMain {
  grid-area: gridMain; }

.contenedor {
  max-width: 800px;
  margin: 20px auto;
  text-align: center; }
  .contenedor h1 {
    font-size: 60px;
    margin: 10px 0px 20px 0px;
    text-decoration: underline; }
  .contenedor p {
    font-size: 20px;
    line-height: 1.5;
    font-style: italic;
    margin: 0px 0px 10px 0px; }

.nuestrosServicios {
  max-width: 600px;
  margin: 50px auto 10px auto;
  text-align: center;
  font-size: 1.20em; }

.contenedorNuestrosServicios {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 0px 50px 0px;
  text-align: center; }
  .contenedorNuestrosServicios .iconosServicios {
    width: 120px;
    height: 150px; }

.bloquesNuestrosServicios {
  max-width: 300px; }
  .bloquesNuestrosServicios h3 {
    font-size: 1.10em;
    font-weight: bold; }

.nuestrosServiciosButton {
  display: inline-block;
  background-color: #18978F;
  padding: 15px;
  border-radius: 15px;
  margin: 10px;
  margin-top: auto;
  color: #fff;
  text-decoration: none;
  list-style: none; }
  .nuestrosServiciosButton .nuestrosServiciosButton:hover {
    background-color: #18978F; }

.contenedorSup {
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 10px;
  color: #fff;
  background-color: #18978F;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "imagenSup infoSup"; }

.imagenSup {
  width: 500px;
  height: 100%;
  border-radius: 10px 0px 0px 10px;
  grid-area: imagenSup; }

.infoSup {
  grid-area: infoSup;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .infoSup a {
    list-style: none;
    text-decoration: none;
    color: #cecece; }

.contenedorSup2 {
  max-width: 1000px;
  margin: 50px auto;
  border-radius: 10px;
  color: #fff;
  background-color: #18978F;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "imagenSup imagenSup2"; }

.imagenSup2 {
  width: 500px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  grid-area: imagenSup2; }

.contenedorFormContacto {
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
  border-radius: 10px;
  background-color: #f8f8f8;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "headFormContacto headFormContacto" "iframeMapa formularioContacto" "infoContacto infoContacto"; }

.contenedorFormContactoHead {
  border-radius: 10px 10px 0px 0px;
  background-color: #54BAB9;
  color: #fff;
  grid-area: headFormContacto; }
  .contenedorFormContactoHead h2 {
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: 1.4em; }

.formularioContacto {
  grid-area: formularioContacto; }

.contenedorFormContacto input {
  margin-bottom: 10px; }

.contenedorFormContacto input:first-of-type {
  margin-top: 35px; }

.contenedorFormContacto textarea {
  height: 100px;
  margin-bottom: 10px;
  resize: none; }

.contenedorFormContacto input, .contenedorFormContacto textarea {
  font-size: 1em;
  padding: 15px 10px 10px;
  border: 1px solid #cecece;
  background: #ebebeb;
  width: 80%; }

.contenedorFormContacto button {
  margin: 15px 0px 25px 0px;
  background-color: #54BAB9;
  padding: 15px 55px;
  border-radius: 5px;
  border: 1px solid #2ABCA7;
  display: inline-block;
  color: #fff;
  cursor: pointer; }
  .contenedorFormContacto button button:hover {
    background: #18978F; }

.iframeUbicacionMapa {
  grid-area: iframeMapa;
  width: 90%;
  height: 350px;
  margin: auto; }

.infoContacto {
  grid-area: infoContacto;
  margin: 0px 0px 20px 0px; }
  .infoContacto p {
    padding: 0px 0px 10px 0px; }

.footerMain {
  margin-top: auto;
  padding: 30px 20px 10px 20px;
  color: #fff;
  background: #F7ECDE;
  background: linear-gradient(0deg, #18978F 10%, #54BAB9 50%, #F7ECDE 100%);
  grid-area: footer; }

.textoFooter {
  padding-top: 20px;
  padding: 5px;
  text-align: right; }

@media (max-width: 825px) {
  main {
    width: 100%; }
  .footerMain {
    margin: 20px 0px 0px 0px; }
  /* --- Index --- */
  .contenedorNuestrosServicios {
    flex-direction: column;
    align-items: center; }
  /* --- Contacto --- */
  .contenedorBody {
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "header" "gridMain" "footer"; }
  .contenedorFormContacto {
    border-radius: 0px;
    margin: 0px;
    grid-gap: 10px 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "headFormContacto" "formularioContacto" "iframeMapa" "infoContacto"; }
  .contenedorFormContactoHead {
    border-radius: 0px; }
  .infoContacto p:first-of-type {
    margin-top: 10px; }
  /* --- Stand-Up Paddle HTML --- */
  .contenedorSup {
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "imagenSup" "infoSup"; }
  .imagenSup {
    width: 100%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    grid-area: imagenSup; }
  /* --- Sobre nosotros --- */
  .contenedor {
    width: 95%; }
    .contenedor h1 {
      font-size: 50px; }
    .contenedor p {
      font-size: 18px; } }
